<launch>
  <arg name="use_current_scene" default="false"/>
  <arg name="planning_group" default="panda_arm"/>
  <arg name="constraints_file" default="/home/inb-franka-c/fastpick_ws/src/panda_moveit_config/config/constraints.yaml" doc="the path to a constraints yaml file (see generate_state_database for details)"/>


  <node name="generate_state_database" pkg="moveit_planners_ompl" type="generate_state_database" output="screen">
    <param name="use_current_scene" value="$(arg use_current_scene)"/>
    <param name="planning_group" value="$(arg planning_group)"/>
    <remap from="~output_folder" to="move_group/constraint_approximations_path"/>

    <rosparam ns="constraints" command="load" file="$(arg constraints_file)"/>
  </node>

</launch>


<!-- roslaunch ompl_interface generate_state_database.launch constraints_file:=$(rospack find X_moveit_config)/config/constraints.yaml planning_group:=arm -->