<?xml version="1.0" ?>
<launch>

    <arg name="which_berry" default="berry_1" />
    <arg name="how_many" default="1" />

    <node name="fastpick_pick_node" type="pick_action_node.py" pkg="fastpick_pick" output="screen">
        <param name="berry_frame" value="$(arg which_berry)"/>
        <param name="how_many" value="$(arg how_many)"/>
    </node>
</launch>
